<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="https://cdn.discordapp.com/attachments/879368949559623700/1233124738537361498/logo-removebg-preview.png?ex=6633dd68&is=66328be8&hm=5fb3afae49189454c8a7c9d2a4498adf2140ad84c1f36f9a433118ea42994bc0&" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>CONTACT US</h2>
            <p>Email: info@GrowEasy.com</p>
            <p>Phone number: +123-456-7890</p>
        </div>
        <div class="box">
            <h2>FOLLOW US</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>GrowEasy Innovators</b> - All rights reserved.</small>
    </div>
</footer>
